doctype html
html(lang="en" ng-app="gladysApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Gladys Fact App
        meta(name="description", content="")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        base(href="/")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href='../css/app.css')
        script(src="../js/gladys/userInformation.js")
    body(ng-controller="UserInformation")
        section#header.row
        section#mainApp.row
            section()#sidebar.col-xs-2
                    form()#factCardSearch
                        input(type="text" placeholder="search" ng-model="search").form-control
                    div(ng-repeat="fact in facts | filter:search").factCards
                        p #[i(class="fa fa-sticky-note-o")]   {{fact.fact}}
            section(style="background-color:green")#app.col-xs-10
                h1 App
        section#footer.row

