doctype html
html(lang="en" ng-app="gladysApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Gladys Fact App
        meta(name="description", content="")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        base(href="/")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href='../css/app.css')
        script(src="../js/gladys/userInformation.js")
    body(ng-controller="UserInformation").container
        section#header.row
        section#mainApp.row
            section()#sidebar.col-xs-2
                    form()#factCardSearch
                        input(type="text" placeholder="search" ng-model="search").form-control
                    div(ng-repeat="(key, fact) in facts | filter:search" ng-click="editFact(fact)").factCards
                        p #[i(class="fa fa-sticky-note-o")]   {{fact.fact}}
            section()#app.col-xs-10
                section#factTextArea
                    form(ng-submit="submit()")
                        textarea(rows="22" cols="100" name="newFact" ng-model="newFact").col-md-8 {{newFact}}
                        input(type="hidden" ng-model="currentFactKey" value="{{currentFactKey}}")
                    section#factPanel.col-md-2
                        section#factOperations.row
                            i(class="fa fa-sticky-note-o fa-2x" ng-click="enterNewFact()")  New
                            i(class="fa fa-floppy-o fa-2x" ng-click="submit()")  Save
                            i(class="fa fa-trash-o fa-2x" ng-click="deleteFact()")  Delete
                        section#factTags.row
                        section#tags.row
                            div.row.factTag(ng-repeat="tag in tags")
                                span.label.label-default {{ tag.tag_name }} #[i.fa.fa-thumb-tack(ng-click="PinTag(tag)")] #[i.fa.fa-search] #[i.fa.fa-play] #[i.fa.fa-trash-o.removeTagButton(ng-click="deleteTag(tag)")]
                        section#addTags.row
                            form()
                            input.form-control.form-group-sm(placeholder="Tag fact" type="text" ng-model="newTag")
                            button.button(ng-click="addTag()") #[i.fa.fa-plus]



        section#footer.row

