@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//$primaryColor:  red;
//

#mainApp{

}

#sidebar{
  border-left: 10px solid;
  border-right: 5px solid;
  font-size: 75%;
  height: 100vh;
  overflow: auto;
  background-color: #E0E0E0;
  border-color: #4CAF50;
}


#factScreen{
  padding-bottom: 40px;
  height: 80vh;
}

#factDisplay{
  margin-top: 50px;


}

#factTextArea{

}

.factSubmitButton{
  padding-top: 15px;
}

#factScreenText {
   font-size: 110%;
   height: 270px;
   overflow: scroll;
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
}

.factScreenButton{
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;

}
.factCards {
//  border: 1px solid;
  margin-top: 20px;
  height: 50px;
  overflow: auto;
  font-size: 100%;
  line-height: 120%;
  cursor: pointer;
  cursor: hand;
  opacity: .6;
}

.factCards:hover{
  opacity: 1;
}

.factCards p{

}

#factCardSearch{
  padding-top: 30px;
}

#factCardSearch input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #4CAF50;
}




